

{% block title %}
<title>Registration</title>
{% endblock %}

{% block body_block %}
<style>
    body
    {
        background-image: url("https://repository-images.githubusercontent.com/299409710/b42f7780-0fe1-11eb-8460-e459acd20fb4");
        background-size: cover;
        background-repeat: no-repeat;
    }
    form
    {
        margin-top: 50px;
    }
    .one
    {
  
        color: white;
        font-size: medium;
        width: 950px;
        border-radius: 2%;
        font-weight: bold;
    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    textarea
    {
        border-radius: 0px;
        height: 10px;
    }
    input
    {
        background-color: bisque;
        border-radius: 5%;
        margin-top: 10px;
    
    }
    input
    {
        color: rgb(221, 45, 45);
        border-radius: 1%;
    }
    textarea{
        width: 200px;
        height: 100px;
    }
    .div
    {
        margin-top: 100px;
        
        width: 600px;
        height: 500px;
        border-radius: 5%;
    }
    .btn
		{
			width: 200px;
			height: 50px;
			background: rgb(126, 186, 223) ;
			border-radius:10px ;
			text-align: center;
			cursor: pointer;
			font-size: 30px;
			font-weight: bolder;
			border: none;
		}
		.btn:hover
		{
			border-radius: 100px;
			background-color: rgb(59, 232, 59);
			box-shadow:0 0 5px 5px #888888;

		}
    .lion>a
    {
        justify-content: center;
        padding: 20px;
    }
    .lion>a:hover
    {
        color:rgb(185, 255, 23);
        width: 150px;
        height: 100px;
    }
    h1
    {
        font-size: larger;
        font-weight: bolder;
        font-style: normal;
        font-size: 40px;
        color: rgb(9, 210, 233);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<body>
    <center>
        <h3 style="color: red;">Don't Have Account</h3>
        <h1>REGISTER HERE</h1>
        <div class="one">
        <form method="POST" enctype="multipart/form-data">
            <div class="div">
            {% csrf_token %}
                {{ufo.as_p}}
                {{pfo.as_p}}
                <input type="submit" value="Register" class="btn btn-secondary">
				<div class="lion">
					<a href=""><i class="fa-brands fa-facebook"></i></a>
					<a href=""><i class="fa-brands fa-square-twitter"></i></a>
					<a href=""><i class="fa-brands fa-google"></i></a>
					<a href=""><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://www.youtube.com/embed/wbkfuO0havc"><i class="fa-brands fa-youtube"></i></a>
				</div>




            </div>
        </form>
    </div>
</center>
</body>
{% endblock %}