





{% block title %}

{% endblock %}

{% block body_block %}
<style>
    body
    {
        background-image: url("https://previews.123rf.com/images/stuartphoto/stuartphoto1901/stuartphoto190100925/116118295-forgot-password-padlock-shows-login-authentication-invalid-remember-login-security-verification-3d.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        width: 600px;
        margin: 0 auto;
        padding: 20px;
        color: white;
        font-weight: bold;
        margin-top: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: none; /* Initially hide the change password form */
      }
      .btn
		{
			width: 400px;
			height: 100px;
			background: #ff7200;
			border-radius:10px ;
			text-align: center;
			cursor: pointer;
			font-size: 35px;
			font-weight: bolder;
			border: none;
		}
		.btn:hover
		{
			border-radius: 100px;
			background-color: greenyellow;
			box-shadow:0 0 5px 5px #888888;

		}
      .container h2 {
        text-align: center;
      }
      .container input[type="password"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 4px;
      }
      .container input[type="submit"] {
        width: 50%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        margin-left: 120px;
        border-radius: 4px;
        cursor: pointer;
      }
      h2
      {
        font-weight: bold;
        color: rgb(18, 0, 135);
      }
      .container input[type="text"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 4px;
      }
  </style>
  <script>
    function toggleForm() {
      var form = document.getElementById("changePasswordForm");
      form.style.display = form.style.display === "none" ? "block" : "none";
    }
  </script>

  
  <center><button onclick="toggleForm()" class="btn btn-info">Reset Password</button></center>
  <div class="container" id="changePasswordForm">
    <h2 style="color: rgb(135, 0, 137);">Reset Password Form</h2>
    <form method="POST">
      {% csrf_token %}
      <label for="username">Username:</label>
      <br>
      <input type="text" id="username" name="username" placeholder="Enter your current username">
<br>
<br>
      <label for="newPassword">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter your new password">
      <input type="submit" value="Reset Password">
    </form>
  </div>
</form>
</form>

{% endblock %}