<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>successful</title>
    <link rel="shortcut icon" href="https://image.emojisky.com/998/10277998-middle.png" type="image/x-icon">
</head>
<style>
    *
    {
        margin: 0px;
        padding: 0px;
        font-family: "comic sans ms",sans-serif;
        
    }
    body
    {
        background-image: url("https://img.freepik.com/premium-psd/thank-you-card-with-watercolor-floral-frame-romantic-blue_527873-163.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1
    {
        color: rgb(25, 194, 241);
        height: 200px;
        width: 200px;
    }
</style>
<body>
    <center>
        <h1>Welcome to AHA</h1>
    </center>
</body>
</html>